aws_access_key = ""
aws_secret_key = ""
cloudflare_secret_token = ""
cloudflare_zone_id = ""
aws_account_id = ""
domain_name = "yourwebsite.com"
subdomain_name = "www.yourwebsite.com"
aws_region_main = ""
website_bucket_name = ""
github_username = ""
github_repository_name = ""