@import "tailwindcss";

@font-face {
  font-family: 'Carlito';
  src: url('/fonts/Carlito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'Carlito', sans-serif;
}

@theme {
  --color-primary: #9c9c9c;
  --color-primary-light: #ffffff;
  --color-secondary: #1e1f21;
  --color-accent: #8a8a8a;
  --color-background: #121314;
  --color-icons: #1c398e;
  --color-icons-light: #097c87;
  --color-hover-background: #1c398e;
}