---
import "../styles/global.css";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import SkillIcons from "@components/SkillIcons.astro";
import Projects from "@components/Projects.astro";
import Hero from "@components/Hero.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Explore my personal portfolio built with Astro and Tailwind CSS, featuring automated AWS S3 infrastructure provisioning using Terraform (IaC) and streamlined CI/CD via GitHub Actions."
      name="description"
    />
    <meta content="index, nofollow" name="robots" />
    <meta content="Portfolio" property="og:title" />
    <meta
      content="Explore my personal portfolio built with Astro and Tailwind CSS"
      property="og:description"
    />
    {/* Add meta image */}
    <meta content="https://meelis.dev" property="og:url" />
    <title>Portfolio</title>
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link
      as="font"
      crossorigin="anonymous"
      href="/fonts/Carlito-Regular.woff2"
      rel="preload"
      type="font/woff2"
    />
  </head>
  <body class="min-h-screen flex flex-col text-primary bg-background">
    <a
      class="sr-only focus:not-sr-only absolute top-4 left-4 bg-primary text-secondary-project px-4 py-2 rounded shadow-md text-center"
      href="#main-content"
    >
      Skip to main content
    </a>

    <header class="border-b border-accent">
      <div class="max-w-4xl mx-auto px-4">
        <Navbar />
      </div>
    </header>

    <main class="flex-1 max-w-4xl mx-auto px-4" id="main-content" role="main">
      <section aria-labelledby="hero-heading" class="py-5" id="Hero">
        <h2 class="sr-only" id="hero-title">Hero Section</h2>
        <Hero />
      </section>
      <section aria-labelledby="projects-heading" class="pb-5" id="Projects">
        <h2 class="sr-only" id="projects-title">Projects</h2>
        <Projects />
      </section>
      <section aria-labelledby="skills-heading" class="pb-5" id="Skills">
        <h2 class="sr-only" id="skills-title">Skills</h2>
        <SkillIcons class="justify-center" />
      </section>
    </main>

    <footer class="border-t border-accent">
      <div class="max-w-4xl mx-auto">
        <Footer />
      </div>
    </footer>
  </body>
</html>
