---
const year = new Date().getFullYear();
---

<footer class="w-full relative">
  <div class="max-w-4xl mx-auto text-center py-4">
    <p class="text-black">
      Copyright © {year}
      <a
        href="https://github.com/MeelisM"
        class="relative group transform transition duration-300 hover:-translate-y-1 hover:scale-[1.25]"
        aria-label="Visit Meelis Mumm's GitHub profile"
      >
        Meelis Mumm.
        <span
          class="absolute opacity-0 group-hover:opacity-100 group-focus:opacity-100 -top-8 left-1/2 transform -translate-x-1/2 bg-gray-600 text-white text-xs px-2 py-1 rounded transition-opacity duration-200 whitespace-nowrap pointer-events-none"
        >
          Visit GitHub
        </span>
      </a>
      All rights reserved.
    </p>
  </div>
</footer>
