---
const year: number = new Date().getFullYear();
---

<footer class="w-full relative">
  <div class="max-w-4xl mx-auto text-center py-4">
    <p class="text-primary-footer">
      Meelis Mumm © {year} | MIT License |
      <a
        aria-label="Visit website's GitHub repository"
        class="relative group transform transition duration-300 hover:-translate-y-1 hover:scale-[1.25] underline focus:border-2 focus:border-dotted focus:border-primary-logo focus:outline-none"
        href="https://github.com/MeelisM/meelis.dev"
        >GitHub
        <span
          class="absolute opacity-0 group-hover:opacity-100 group-focus:opacity-100 group-hover:animate-wiggle group-focus-within:animate-wiggle -top-7 left-1/2 transform -translate-x-1/2 bg-primary-tooltip text-secondary-tooltip text-xs px-2 py-1 rounded transition-opacity duration-200 whitespace-nowrap pointer-events-none"
        >
          Visit GitHub
        </span>
      </a>
    </p>
  </div>
</footer>
