<nav class="w-full" aria-label="Main Navigation">
  <div class="max-w-4xl mx-auto flex justify-between items-center py-4">
    <div class="flex items-center space-x-2">
      <img
        src="/favicon.svg"
        alt=""
        aria-hidden="true"
        class="w-6 h-6 transform transition duration-300 hover:-translate-y-1 hover:scale-[1.25]"
      />
      <a
        href="/"
        class="text-lg font-bold underline decoration-solid focus:outline-none focus:ring"
      >
        meelis.dev
      </a>
    </div>
    <ul class="flex space-x-6 text-gray-700">
      <li class="relative group/icon">
        <a
          href="mailto:meelis.developer@gmail.com"
          class="group focus:outline-none focus:ring group-focus-within/icon:scale-[1.25]"
          aria-label="Email Me"
        >
          <img
            src="/email.svg"
            alt="Email Icon"
            class="w-6 h-6 transform transition duration-300 group-hover/icon:-translate-y-1 group-hover/icon:scale-[1.25] group-focus-within/icon:-translate-y-1"
          />
        </a>
        <span
          class="absolute opacity-0 group-hover/icon:opacity-100 group-focus-within/icon:opacity-100 -bottom-8 left-1/2 transform -translate-x-1/2 bg-gray-600 text-white text-xs px-2 py-1 rounded transition-opacity duration-200 whitespace-nowrap pointer-events-none"
          aria-hidden="true"
        >
          Email Me
        </span>
      </li>
      <li class="relative group/icon">
        <a
          href="https://www.linkedin.com/in/meelismumm/"
          target="_blank"
          class="group focus:outline-none focus:ring group-focus-within/icon:scale-[1.25]"
          aria-label="LinkedIn Profile"
        >
          <img
            src="/linkedin.svg"
            alt="LinkedIn Icon"
            class="w-6 h-6 transform transition duration-300 group-hover/icon:-translate-y-1 group-hover/icon:scale-[1.25] group-focus-within/icon:-translate-y-1"
          />
        </a>
        <span
          class="absolute opacity-0 group-hover/icon:opacity-100 group-focus-within/icon:opacity-100 -bottom-8 left-1/2 transform -translate-x-1/2 bg-gray-600 text-white text-xs px-2 py-1 rounded transition-opacity duration-200 whitespace-nowrap pointer-events-none"
          aria-hidden="true"
        >
          LinkedIn
        </span>
      </li>
      <li class="relative group/icon">
        <a
          href="https://github.com/MeelisM"
          target="_blank"
          class="group focus:outline-none focus:ring group-focus-within/icon:scale-[1.25]"
          aria-label="GitHub Profile"
        >
          <img
            src="/github-mark.svg"
            alt="GitHub Icon"
            class="w-6 h-6 transform transition duration-300 group-hover/icon:-translate-y-1 group-hover/icon:scale-[1.25] group-focus-within/icon:-translate-y-1"
          />
        </a>
        <span
          class="absolute opacity-0 group-hover/icon:opacity-100 group-focus-within/icon:opacity-100 -bottom-8 left-1/2 transform -translate-x-1/2 bg-gray-600 text-white text-xs px-2 py-1 rounded transition-opacity duration-200 whitespace-nowrap pointer-events-none"
          aria-hidden="true"
        >
          GitHub
        </span>
      </li>
    </ul>
  </div>
</nav>
