---
import skillsData from "../content/skills.json";

interface Skill {
  name: string;
  icon: string;
}

interface SkillsData {
  skills: Skill[];
}

interface Props {
  filter?: string[];
  bgColor?: string;
  bgHover?: string;
  textHover?: string;
  textColor?: string;
}

const { skills }: SkillsData = skillsData;

const {
  filter = [],
  bgColor = "bg-primary-badge",
  bgHover = "hover:bg-secondary-badge",
  textHover = "hover:text-primary-badge",
  textColor = "text-secondary-badge",
}: Props = Astro.props;

const filteredSkills =
  Array.isArray(filter) && filter.length > 0
    ? skills.filter((skill) => filter.includes(skill.name))
    : skills;
---

<ul class="flex flex-wrap gap-1">
  {
    filteredSkills.map((skill) => (
      <li
        aria-label={skill.name}
        class:list={{
          "inline-flex items-center px-2 py-1 rounded-[12px] text-primary": true,
          [bgColor]: !!bgColor,
          [textColor]: !!textColor,
          [bgHover]: !!bgHover,
          [textHover]: !!textHover,
        }}
      >
        <span aria-hidden="true" class="mr-1 w-4 h-4" set:html={skill.icon} />
        <span class="text-sm">{skill.name}</span>
      </li>
    ))
  }
</ul>

<style>
  span :global(svg) {
    fill: currentColor;
  }
</style>
