
<section class="...">
    <div class="flex-1 relative w-full min-h-34 overflow-hidden">
      <div class="absolute inset-0">
        <canvas aria-hidden="true" class="w-full h-full" id="textGlitchCanvas"></canvas>
      </div>
    </div>
  </section>
  
  <script>
    import "../scripts/textGlitchAnimation.js";
  </script>
  